*/__pycache__
results/*
outputs/
wandb/
walker_video_pairs/
nohup.out

output.mp4

collect_cheetah.py
collect_walker.py
collect_walker_video.py

eval_hopper.py
fake_label_walker.py
walker_attr_noisy.hdf5
walker_attr.hdf5
walker_video_pairs.hdf5
walker_video_pairs.zip

humanoid_agents/
humanoid_video_pairs/
humanoid_video_pairs.zip
collect_humanoid_video.py

mujoco_human_agents/

collect_humanoid.py
collect_humanoid_videos.py
test.py